{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Página de Criação de Item</h1>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

        <button class="btn btn-primary">Enviar</button>
    </form>
{% endblock content %}
